@model List<Nice_admin_form___table.Models.ProductModel>

<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Products</h5>
                        <a asp-controller="Product" asp-action="AddEditProductForm">
                            <button type="button" class="btn btn-primary mb-3">Add Product</button>
                        </a>

                        <div style="overflow-x: auto;">
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th>ProductID</th>
                                        <th>ProductName</th>
                                        <th>ProductPrice</th>
                                        <th>ProductCode</th>
                                        <th>Description</th>
                                        <th>UserID</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.ProductID</td>
                                            <td>@item.ProductName</td>
                                            <td>@item.ProductPrice</td>
                                            <td>@item.ProductCode</td>
                                            <td>@item.Description</td>
                                            <td>@item.UserID</td>
                                            <td class="d-flex justify-content-start">
                                                <a asp-action="AddEditProductForm" asp-route-ProductID="@item.ProductID">
                                                    <button type="button" class="btn btn-warning me-2">✎</button>
                                                </a>

                                                <a asp-controller="Product" asp-action="ProductDelete" asp-route-ProductID="@item.ProductID">
                                                    <button class="btn btn-danger">🗑</button>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
